<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GS1.Generate.Core" version="1.3.2292.1" targetFramework="net462" />
  <package id="GS1.Generate.Draw.Pdf" version="1.2.6812.29009" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
</packages>